<!DOCTYPE HTML>
<html>
	<head>
		<title>#FoodResume Resumes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>

							<form method="post" action="#">
                                
							
									<input type="text" name="name" id="name" value="" placeholder="name" />
									
									<input type="text" name="ID" id="ID" value="" placeholder="ID" />																		
									<input type="text" name="email" id="email" value="" placeholder="email" />
									
									<input type="button" id="sub" value="sub" />	

                               		<input type="text" name="pass" id="pass" value="" placeholder="pass" />
                                   
									
                                	<input type="button" id="confirm" value="confirm" />
                                   	
                                  	
                                   
									
                                    

                                    <pre id="log"></pre>
                              
                            </form>
							<p><%= newAccount%></p>
							
                    
					
		<!-- Scripts -->
			<!--
			<script
  				src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  				integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  				crossorigin="anonymous"></script>
        	<script src="http://rawgit.com/ethereum/web3.js/0.16.0/dist/web3.min.js"></script>
            <script src="js/Produce.js"></script>
			-->
	</body>
</html>