<!DOCTYPE HTML>
<html>
	<head>
		<title>NCCUpoints</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
							<p><%= message %></p>
							<form method="post" action="/register">
                                
									
									<input type="text" name="name" id="name" value="" placeholder="name" />
									
									<input type="text" name="ID" id="ID" value="" placeholder="ID" />
									
									<input type="text" name="TransactionKey" id="TransactionKey" value="" placeholder="TransactionKey" />

									<input type="text" name="password" id="password" value="" placeholder="password" />
									
									<input type="submit" id="sub" value="submit" />	
                                   	
                                  	
                                   
									
                                    

                                    <pre id="log"></pre>
                              
                            </form>
							
                    
					
		<!-- Scripts -->
			<!--
			<script
  				src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  				integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  				crossorigin="anonymous"></script>
        	<script src="http://rawgit.com/ethereum/web3.js/0.16.0/dist/web3.min.js"></script>
            <script src="js/Produce.js"></script>
			-->
	</body>
</html>