<!DOCTYPE HTML>
<html>
	<head>
		<title>#FoodResume Resumes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>

							<form method="post" action="/verify">
                                	

									<a>已發送驗證碼至您的信箱，請輸入驗證碼</a>
									<br>

									<input type="text" name="key" id="key" value="" placeholder="key" />
									
									
									<input type="submit" id="sub" value="submit" />	
                                   	
                                  	
                                   	<br>

                                   	<p><%= key%></p>
									
                                    

                                    <pre id="log"></pre>
                              
                            </form>
							
                    
					
		<!-- Scripts -->
			<!--
			<script
  				src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  				integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
  				crossorigin="anonymous"></script>
        	<script src="http://rawgit.com/ethereum/web3.js/0.16.0/dist/web3.min.js"></script>
            <script src="js/Produce.js"></script>
			-->
	</body>
</html>